<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HTML5 Login Form with validation Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="static/css/styl.css">

</head>
<body>
<br><br>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>Login</h2>
  <form id="login-form" action="/valid" method="POST">
    <p>
    <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="password" id="psw" name="psw" placeholder="Enter password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="login"   value="Login">

    </p>
    <br><br>
  </form>

</div><!--login-form-wrap-->
<!-- partial -->

</body>
</html>
