<!DOCTYPE html>
<html lang="en">
<head>


    <title>User Page</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<br>
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/admin">
    <img src="https://camo.githubusercontent.com/dee371eb747eca908a562cd37334ab9257fad5a456dd34b46596185b119b285a/68747470733a2f2f63646e2e6f6e6c696e65776562666f6e74732e636f6d2f7376672f696d675f3332353738382e706e67" alt="Logo" style="width:40px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">View Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Attendance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/calendar">calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
</nav>
<a href="/recog" class="btn btn-primary">recognise</a>
<a href="/temp" class="btn btn-primary">{{t[5]}}C</a>

<div class="container">

<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    {% for r in r1 %}
    <td>{{r[0]}}</td>
    <td>{{r[2]}}</td>
    <td>{{r[3]}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
  </div>
</body>
</html>